*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html,body{
    /* height: 100%;
    width: 100%; */
    background-color: rgb(16, 16, 88);
}
#toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(32, 165, 223);
    height: 60px;
    width: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}
#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}#toggle.active::before{
    transform: translateY(0px)rotate(45deg);
}#toggle.active::after{
    transform: translate(0px)rotate(-45deg);
}
#sidebar{
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100vh;
    background-color:#003147 ;
    transition: 0.5s;
}
#sidebar.active{
    left: 0px;
}
#sidebar ul{
    position: relative;
    margin-top: 50px;
}
#sidebar ul li{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
}#sidebar ul li:hover{
    background: #03a9f4;
}#sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-family: "Gilory";
}

#con{
    position: absolute;
    top: 9px;
    left: 6px;
    height: 60px;
    width: 60px;
    /* background-color: red; */
}
#con i{
    font-size: 55px;
    color: #03a9f4;
    
}
#img{
    background-image: url(./img.png);
    background-size: cover;
    height: 400px;
    width: 700px;
    position: absolute;
    top: 14%;
    left: 22%;
    border-radius: 10px;

}